body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  background: #292c27;
}

* {
  user-select: none;
  color: #9a9a9a;
  box-sizing: border-box;
}

button, input { 
  border: 1px solid rgb(79, 77, 79);
  background: #2c3534;
}

button:focus, select:focus, input:focus {
  outline:none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 1px solid rgb(79, 77, 79);
  background: #2c3534;
  padding: 1px 4px;
  min-width: 24px;
}

.bars-buttons {
  
}

.bars-buttons button {
  min-width: 32px;
  height: 27px;
  margin: 1px;
}

.bars-buttons button.selected {
  background:#9c0186;
}

.Part {
  display: flex;
}

.toggle-button {
  outline: 0;
  min-width: 32px;
  height: 32px;
  margin: 1px;
  padding:0;
}

.toggle-button.selected {
  background: #9100ff;
}

button.toggle {
  outline: 0;
  margin: 1px;
  padding:0;
}

button.toggle.selected {
  background: #9100ff;
}

.pattern {
  width: 1092px;
}

.pattern-details .row {
  padding: 4px;
}

.PartDetails {
  background: rgb(79, 77, 79);
  height: 143px;
  width: 1124px;
  position: absolute;
  padding: 4px 40px;
  transition: transform .5s;
}

.PartDetails.hidden {
  transform: translate(-1089px, 0);
}

.PartDetails.hidden button.close {
  display: none;
}

.PartDetails.visible {
  transform: translate(0, 0);
}

.PartDetails.visible button.open {
  display: none;
}

.PartDetails button.open,
.PartDetails button.close
{
  border: none;
  position: inherit;
  top:0;
  width: 36px;
  background: #2abb1c;
  color: black;
}

.PartDetails button.open { 
  right: 0;
}

.PartDetails button.close { 
  left: 0;
}

.steps-row {
  direction: ltr !important;
  display: flex;
  flex-direction: row;
}

.PartStep {
  display: flex;
  flex-direction: column;
}

.PartStep .pad {
  width:40px; 
  height: 40px;
  font-size:12px;
  padding: 0;
  margin: 1px;
  color:#adadad;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgb(138, 138, 138);
}

.PartStep .note {
  border: none;
  margin:1px;
}