body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 11px;
  background: #292c27;
}

* {
  user-select: none;
  color: #f0f0f0;
}

button {
  text-align: center;  
  border: 1px solid rgb(79, 77, 79);
  background: #2c3534;
}

.bars-buttons button {
  min-width: 34px;
  min-height: 34px;
  margin: 1px;
}

.bars-buttons button.selected {
  background:#9100ff;
}

.part {

}

.part-pads-row {
  display: flex;
  flex-direction: row;
}

.part-details {
  background: rgb(79, 77, 79);
  min-height: 64px;
  width: 1091px;
}

.pattern {
  width: 1092px;
}

.toggle-button {
  outline: 0;
  min-width: 34px;
  height: 34px;
  margin: 1px;
  padding:0;
}

.toggle-button.selected {
  background: #9100ff;
}

.part-step-details {
  min-width: 58px;
  margin: 1px;
  padding: 2px;
  height: 144px;
  border: 1px solid rgb(68, 68, 68);
}

.part-step-details .note {
  width: 58px;
  border: none;
  margin:1px 0;
}

.part-step-details .note:focus {
  outline:none;
}

.part-step {
  text-align: center;
  min-width: 58px;
  margin: 1px;
  padding: 2px;
  height: 28px;
  color:#adadad;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgb(138, 138, 138);
}

.part-step.selected {
  background: rgba(255, 0, 0, 0.3);
}

.pad-button.disabled {
  border-style: dashed;
}

.part-step:hover {
  background: rgba(0, 0, 255, 0.3);
}

.part-step.selected:hover {
  background: rgba(255, 0, 255, 0.3);
}