body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 11px;
  background: #292c27;
}

* {
  user-select: none;
  color: #9a9a9a;
  box-sizing: border-box;
}

button {
  text-align: center;  
  border: 1px solid rgb(79, 77, 79);
  background: #2c3534;
}

button:focus {
  outline:none;
}

.bars-buttons {
  padding-left: 36px;
}

.bars-buttons button {
  width: 34px;
  height: 34px;
  margin: 1px;
}

.bars-buttons button.selected {
  background:#9c0186;
}

.part {
  display: flex;
}

.part-toggle {

}

.toggle-button {
  outline: 0;
  min-width: 34px;
  height: 34px;
  margin: 1px;
  padding:0;
}

.toggle-button.selected {
  background: #9100ff;
}

.part-details {
  background: rgb(79, 77, 79);
  height: 143px;
  width: 1124px;
  position: absolute;
  padding: 4px 40px;
}

.part-details.hidden {
  transform: translate(-1088px, 0);
}

.part-details.hidden button.close {
  display: none;
}

.part-details.visible {
  transform: translate(0, 0);
}

.part-details.visible button.open {
  display: none;
}

.part-details button.open,
.part-details button.close
{
  border: none;
  position: inherit;
  top:0;
  width: 36px;
  background: #2abb1c;
  color: black;
}

.part-details button.open { 
  right: 0;
}

.part-details button.close { 
  left: 0;
}

.steps-row {
  direction: ltr !important;
  display: flex;
  flex-direction: row;
  width: 1091px;
}



.pattern {
  width: 1092px;
}

.part-step {
  display: flex;
  flex-direction: column;
  width:68px;
}

.part-step .pad {
  height: 34px;
  padding: 0 8px;
  margin: 1px;
  color:#adadad;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgb(138, 138, 138);
}

.part-step .note {
  border: none;
  margin:1px;
}

.part-step-pad.selected {
  background: rgba(255, 0, 0, 0.3);
}

.part-step-pad.disabled {
  border-style: dashed;
}

.part-step-pad:hover {
  background: rgba(0, 0, 255, 0.3);
}

.part-step-pad.selected:hover {
  background: rgba(255, 0, 255, 0.3);
}