$pad-width: 40px;
$pad-height: 26px;
$slider-octave-thumb-color: #176b9c;
$slider-note-thumb-color: #2abb1c;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  background: #292c27;
}

* {
  user-select: none;
  color: #9a9a9a;
  box-sizing: border-box;
}

// http://danielstern.ca/range.css/#/ 

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: -1px 0;
  border: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
  background: #4f4d4f;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ff0000, 0px 0px 0px #ff1a1a;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: $slider-note-thumb-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5c5a5c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
  background: #4f4d4f;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ff0000, 0px 0px 0px #ff1a1a;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: $slider-note-thumb-color;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #424042;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
}
input[type=range]::-ms-fill-upper {
  background: #4f4d4f;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #ff0000, 0px 0px 0px #ff1a1a;
  border: 0px solid rgba(0, 0, 0, 0);
  width: 8px;
  border-radius: 8px;
  background: $slider-note-thumb-color;
  cursor: pointer;
  height: 8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4f4d4f;
}
input[type=range]:focus::-ms-fill-upper {
  background: #5c5a5c;
}

input[type=range].octave-slider::-webkit-slider-thumb{background: $slider-octave-thumb-color;}
input[type=range].octave-slider::-ms-thumb {background: $slider-octave-thumb-color;}
input[type=range].octave-slider::-moz-range-thumb{background: $slider-octave-thumb-color;}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 1px solid rgb(79, 77, 79);
  background: #2c3534;
  padding: 1px 4px;
  min-width: 24px;
}

button, input { 
  border: 1px solid rgb(79, 77, 79);
  background: #2c3534;
}

button:focus, select:focus, input:focus {
  outline:none;
}

button {
  outline: 0;
  margin: 1px;
  padding:0;
  &.selected {
    background: #9100ff;
  }
}

input[type=number] {
  outline: 0;
  margin: 1px;
  padding:0;
  &.selected {
    background: #537100;
    color: black;
    text-align: center;
  }
}

.Pattern {
  // width: 800px;
  .pattern-menu {
    display: flex;
    margin: 8px 0;
    button {
      min-width: 32px;
      height: 27px;
      margin: 1px;
      padding: 4px 8px;
      &.selected {
        background:#9c0186;
      }
    }
    .header {
      height: 27px;
      margin: 1px;
      line-height: 28px;
      font-size: 1.4em;
      margin-left: 12px;
    }
    .sizer {
      flex-grow: 1;
    }
  }

  .pattern-details {
    display: flex;

    .col:nth-child(n+2) {
      margin-left: 20px;
    }

    button.number {
      text-align: left;
      padding: 0 4px;
    }
    
    input {
      padding: 0 4px;
    }

    .item {
      display: flex;
      padding: 4px 0;
      & > * {
        width: 128px;
        font-size: 16px;
        border: none;
      }

      legend {
        border-bottom: 1px dashed rgb(79, 77, 79);
      }
    }
  }

  .Part {
    display: flex;
  
    .part-menu {
      display: flex;
      flex-direction: column;
  
      button.toggle {
        width: 48px;
        height: $pad-height;
        font-size: 20px;
  
        &.selected {
          background:#4a6d27;
        }
      }
  
      .label {
        text-align: right;
        margin: 1px;
        height: 16px;
        padding-right: 4px;

        &:nth-child(-n+5) {
          background: #45461c;
        }
       }
    }

    .PartStep {
      display: flex;
      flex-direction: column;
      position: relative;

      &:nth-child(4n-2) {
        background: #252225;
      }

      .pad {
        width:$pad-width; 
        height: $pad-height;
        font-size:12px;
        padding: 0;
        margin: 1px;
        color:#adadad;
        border-radius: 4px;
        outline: 0;
        border: 1px solid rgb(138, 138, 138);
      }
    
      .number {
        width: $pad-width;
        height: 15px;
      }

      .toggle, .note {
        height: 16px;
      }

      .note.selected {
        background: #537100;
        color: black;
      }

      .note-slider-wrapper {
        display: inline-block;
        padding: 0;
        position: absolute;
        top: 113px;
        left: -14px;
        height: $pad-width + 3;
        background: #383838;
        border-radius: 4px;
        z-index:1;
        transform: rotate(-90deg);
        padding-top:8px;

        input[type=range] {
          width: 69px;
          height: 12px;
          margin: 0;
        }
      }
    }
  }
}


.PartDetails {
  background: rgb(79, 77, 79);
  height: 143px;
  width: 1124px;
  position: absolute;
  padding: 4px 40px;
  transition: transform .5s;

  .hidden {
    transform: translate(-1089px, 0);

    button.close {
      display: none;
    }
  }
  .visible {
    transform: translate(0, 0);

    button.open {
      display: none;
    }
  }
  button.open,
  button.close
  {
    border: none;
    position: inherit;
    top:0;
    width: 36px;
    background: #2abb1c;
    color: black;
  }

  button.open { 
    right: 0;
  }

  button.close { 
    left: 0;
  }
}